<%- include('./partials/header') %>   
<body>
    <div class="p-4 px-md-5">
        <h1>Welcome!</h1>
        <p><%=intro%></p>  
    </div>
    <div class="px-3 px-md-5">
        <% posts.forEach( (post) => {%>
            <h3><%= post.title %></h3> 
            <small class="text-muted"><%= post.time %></small> 
            <% if (post.entry.length > 100){ %>
                <p><%= post.entry.substring(0, 100) %>... <a href="/posts/<%= post.title %>" class="text-info">Read More</a></p> 
            <%} else { %>
                <p><%= post.entry %></p>  
            <%} %>
            
        <% }) %>
       
    </div>
    <%- include('./partials/footer') %>   


