<%- include('./partials/header') %>   
<body>
    <div class="p-5">
        <h3><%= postTitle %></h3> 
        <small class="text-muted"><%= postTime %></small> 
        <p><%= postEntry %></p>  
    </div>
    
    <%- include('./partials/footer') %>   


